
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
.main{
    height:100%;
    width:100%;
    background-color: black;
}
#cursor{
    height:20px;
    width:20px;
    position:fixed;
    transform:translate(-50%,-50%);
}