
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
#container1{
    background-color: crimson;
    height:400px;
    width:400px;
    border-radius: 8px;
    margin:2rem;  
    border:1px solid black;
}
.container2{
  border:2px solid black;
}
.main{
  height:500px;
  width:500px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:10px 20px;
  border-radius: 8px;
}
.second{
  height:200px;
  width:200px;
  border-radius: 8px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#iplbtn{
  padding:10px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  user-select: none;
}
#iplbtn:active{
  scale: 0.92;
}