
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
.main{
  height:100vh;
  width:100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn{
  background-color: crimson;
  padding: 10px 20px;
  border:none;
  color:white;
  border-radius: 8px;
  position:relative;
  z-index: 9;
  cursor: pointer;
  user-select: none;
}
#btn:active{
  scale:0.94;
}
