*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height:100vh;
    width:100vw;
    background-color: black;
    color:whitesmoke;
}
.main{
    height:100%;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.appname{
    width:400px;
    display: flex;
    justify-content: start;
    font-family: monospace;
    margin-bottom: 8px;
    margin-left: 13px;
    color:rgb(255, 100, 150);
}
.card{
    height:500px;
    width:400px;
    background-color:azure;
    border-radius: 8px;
    color:black;
    position: relative;
}
.storysection{
    height:120px;
    border-bottom:2px solid black;
    margin:2%;
    display: flex;
    gap:1rem;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    /* position: relative; */
    
}
.storysection::-webkit-scrollbar{
    display:none;
}
.story1{
    height:70px;
    width:70px;
    border-radius: 50%;
    border:2px solid red;
    padding:2px;
}
.story1 img{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: 50%;
}
.name{
display: flex;
flex-direction: column;
align-items: center;
font-family: monospace;
font-size: 15px;
}
.storyreflect{
    height:100%;
    width:100%;
    background-color: whitesmoke;
    
    position: absolute;
    border-radius: 8px;
    opacity: 1;
    /* right:500px; */
    display: none;
    transition: all 8s ease-in-out;
}