
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: serif;
}

.main{
height: 100%;
width:100%;
background-color:black;
display:flex;
justify-content: center;
align-items:center;
padding:2rem;
}
.piano-box{
    height:380px;
    width:80%;
    background-color: white;
    padding:2rem;
}
.main-pianobox{
    height:100%;
    width:100%;
    border:2px solid red;
    padding:2rem;
    display:flex;
}
.block1{
    border:2px solid black;
    height:90%;
    width:200px;
    border-radius: 8px;
    display:flex;
    position: relative;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.block2{
    border-radius: 8px;
    height:90%;
    width:300px;
    border:2px solid black;
    display:flex;
    position: relative;
    border-right:0;
    border-bottom: 0;
    border-left: 0;
    

}
.bblock1{
  height:100%;
  width:25%;
  border:1px solid black;
  border-radius: 6px;
   display:flex;
  align-items: end;
  padding-bottom:4px;
  justify-content: center;
}
.bblock2{
  height:100%;
  width:25%;
  border:1px solid black;
  border-radius: 6px;
   display:flex;
  align-items: end;
  padding-bottom:4px;
  justify-content: center;
}
.bblock3{
  height:100%;
  width:25%;
  border:1px solid black;
  border-radius: 6px;
   display:flex;
  align-items: end;
  padding-bottom:4px;
  justify-content: center;
}
.bblock4{
  height:100%;
  width:25%;
  border:1px solid black;
  border-radius: 6px;
   display:flex;
  align-items: end;
  padding-bottom:4px;
  justify-content: center;
}
.ablock1{
  height:100%;
  width:33.33%;
  border:1px solid black;
  border-radius: 6px;
   display:flex;
  align-items: end;
  padding-bottom:4px;
  justify-content: center;
}
.ablock2{
  height:100%;
  width:33.33%;
  border:1px solid black;
  border-radius: 6px;
   display:flex;
  align-items: end;
  padding-bottom:4px;
  justify-content: center;
}
.ablock3{
  height:100%;
  width:33.33%;
  border:1px solid black;
  border-radius: 6px;
   display:flex;
  align-items: end;
  padding-bottom:4px;
  justify-content: center;
}
.innerblock2{
  height:100%;
  width:100%;
  /* border:2px solid red; */
  position: absolute;
  display:flex;
  /* justify-content: space-evenly; */
  gap:2rem;
  color:white;
}
.innerblock1{
  height:100%;
  width:100%;
  /* border:2px solid crimson; */
  position:absolute;
  display:flex;
  gap:1.5rem;
  color:white;
}
.binner1{
  height:65%;
  width:15%;
  /* border:2px solid cadetblue; */
  border-radius: 7px;
  background-color: black;
  margin-left: 2.7rem;
  display: flex;
  align-items: end;
  padding-bottom: 3px;
  justify-content: center;
}
.binner2{
  height:65%;
  width:15%;
  /* border:2px solid cadetblue; */
  border-radius: 6px;
  background-color: black;
   display: flex;
  align-items: end;
  padding-bottom: 3px;
  justify-content: center;
}
.binner3{
  height:65%;
  width:15%;
  /* border:2px solid cadetblue; */
  border-radius: 6px;
  background-color: black;
  margin-right:2.7rem;
   display: flex;
  align-items: end;
  padding-bottom: 3px;
  justify-content: center;
}
.ainner1{
  height:65%;
  width:14%;
  border-radius: 6px;
  background-color: black;
  margin-left:26%;
  display:flex;
  align-items: end;
  padding-bottom:2px;
  justify-content: center;
}
.ainner2{
  height:65%;
  width:14%;
  border-radius: 6px;
  background-color: black;
  margin-left:2%;
  display:flex;
  align-items: end;
  padding-bottom:2px;
  justify-content: center;
}

.active {
  background-color: #ccc !important;
  transform: scale(0.97);
}