*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
}

.main{
  width: 100%;
  min-height: 100vh;
  background: black;      /* important for hit-testing */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
}

.main h1{
  font-size: 9vw;
  user-select: none;
  border: 2px solid red;
  font-family: serif;
}
.ball{
    height:15px;
    width:15px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
      

}
