
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: serif;
}
.main{
    height:100vh;
    width:100vw;
    background-color: black;
    color:whitesmoke;
    display: flex;
    flex-direction: column;
    /* gap:2rem; */
}
.elem{
    height:120px;
    width:100%;
    border-bottom:2px solid white;
    display: flex;
    cursor: pointer;
    align-items: center;
}
.elem h1{
    font-size:10vh ;
    padding:1rem;
    position: absolute;
    /* transition: none; */
    z-index: 9;
    /* mix-blend-mode: difference; */
}
.elem img{
    /* position: absolute; */
    height:100%;
    width:100%;
    object-fit: cover;
    opacity: 0;
    transition: all 0.3s linear;
    transform: translate(0%,0%);
}