
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
.main{
    height:100%;
    width:100%;
    background-color: black;
    padding:20px;
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}
.card{
    height:300px;
    width:250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    background-color: white;
    border-radius: 12px;;
    color:black;
}
.details{
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    background-color: wheat;
    border-radius: 12px;
    padding:10px;
    margin:10px;
}
.details img{
    border-radius: 50%;
    height:120px;
    width:120px;
    padding:5px;
}
.details h2{
    font-size: 20px;
    color:royalblue;
    white-space: nowrap;
    margin:4px;
}
.details h3{
    font-size: 16px;
    margin:4px;
}
.details p{
    font-size: 12px;
    margin:4px;
}